@{


ViewData["Title"] = "about";


}



<div> 

 @ViewData["Title"] 

<ul>@{
    

        for (var i = 0; i < 10; i++)
   { <li> @ViewData["Title"]
        </li>
    
    }}
    



</ul>



</div>


